
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.woff') format('woff'), url('../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.ttf')  format('truetype'), url('../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
