
@font-face {
  font-family: 'PFAgoraSlabPro';
  src: url('../fonts/PFAgoraSlabPro-Thin/PFAgoraSlabPro-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFAgoraSlabPro-Thin/PFAgoraSlabPro-Thin.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Thin/PFAgoraSlabPro-Thin.ttf')  format('truetype'), url('../fonts/PFAgoraSlabPro-Thin/PFAgoraSlabPro-Thin.svg#PFAgoraSlabPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
