.svgIcon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.svgIcon-be {
	font-size:(18/10)*1rem;
	width:(29/18)*1em;
}
.svgIcon-d {
	font-size:(26/10)*1rem;
	width:(18/26)*1em;
}
.svgIcon-facebook {
	font-size:(22/10)*1rem;
	width:(10/22)*1em;
}
.svgIcon-flcr {
	font-size:(44/10)*1rem;
	width:(44/44)*1em;
}
.svgIcon-in {
	font-size:(21/10)*1rem;
	width:(22/21)*1em;
}
.svgIcon-inst {
	font-size:(28/10)*1rem;
	width:(28/28)*1em;
}
.svgIcon-m {
	font-size:(26/10)*1rem;
	width:(30/26)*1em;
}
.svgIcon-r {
	font-size:(18/10)*1rem;
	width:(29/18)*1em;
}
.svgIcon-ss {
	font-size:(23/10)*1rem;
	width:(28/23)*1em;
}
