
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../fonts/PFDinTextCondPro-Thin/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFDinTextCondPro-Thin/PFDinTextCondPro-Thin.woff') format('woff'), url('../fonts/PFDinTextCondPro-Thin/PFDinTextCondPro-Thin.ttf')  format('truetype'), url('../fonts/PFDinTextCondPro-Thin/PFDinTextCondPro-Thin.svg#PFDinTextCondPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
