
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url('../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.woff') format('woff'), url('../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.ttf')  format('truetype'), url('../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
