
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.woff') format('woff'), url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.ttf')  format('truetype'), url('../fonts/PFDinDisplayPro-Bold/PFDinDisplayPro-Bold.svg#PFDinDisplayPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
